:root {
  --primary-font: "Roboto", sans-serif;
  --logo-color: #4d5ae5;
  --logo-font: "Raleway", sans-serif;
  --logo-font-weight: 800;
  --logo-font-size: 18px;
  --logo-line-height: 1.17;
  --letter-spacing: 0.03em;
  --text-transform: uppercase;
  --span-color: #2e2f42;
  --logo-color: #4d5ae5;
  --background-color: #2e2f42;
  --true-white-color: #ffffff;
}

.body {
  font-family: var(--primary-font);
  color: #434455;
  background-color: #ffffff;
}
/* Header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.link {
  text-decoration: none;
}

span {
  color: var(--span-color);
}

.list {
  text-decoration: none;
}

.list-studio {
  font-weight: 500;
}
/* First-Secion */
.benefits {
  background-color: var(--background-color);
}
.benefits-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.order-service {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--true-white-color);
}
.order-service :hover,
.order-service :focus {
  background-color: #404bbf;
}
.order-service {
  cursor: pointer;
}
