:root {
  --primary-font: "Roboto", sans-serif;
  --logo-color: #4d5ae5;
  --logo-font: "Raleway", sans-serif;
  --logo-font-weight: 800;
  --logo-font-size: 18px;
  --logo-line-height: 1.17;
  --letter-spacing: 0.03em;
  --text-transform: uppercase;
  --span-color: #2e2f42;
}

.body {
  font-family: var(--primary-font);
  color: #434455;
  background-color: #ffffff;
}
.barnd-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.link {
  text-decoration: none;
}
.span {
  color: var(--span-color);
}
.list {
  text-decoration: none;
}
